.faq-section h1,
.faq-section p {
    color: #16194F;
    text-align: center;
}

.faq-description {
    margin-top: 2em;
    margin-bottom: 2em;
}

.faq-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.tab {
    width: 100%;
    overflow: hidden;
}

.tab-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    color: #3A3A3A;
    border: 0.5px solid #CAD6F1;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
    border-radius: 20px;
}

.tab-label svg {
    width: 32px;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    color: black !important;
}

.tab-content p {
    margin: 0;
}

.faq-checkbox:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}